version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: "15:00"
      timezone: "Europe/Zurich"
    open-pull-requests-limit: 10
    labels:
      - "dependabot"